/*******************************/
/********* General CSS *********/
/*******************************/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #343148;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;

}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    margin-top:0px;
    transition: .5s;
    z-index: 999;
    background-color: #292638 !important;
    
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ff9472;
    font-size: 25px;
    font-family: 'Berkshire Swash', sans-serif;
    line-height: 0px;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    padding-left:4px;
    color: #ffffff;
    /* text-transform: lowercase; */
    transition: .5s;
}
.navbar .nav-item {
    color:#ffffff !important;
    font-weight: bold;
}
.navbar .nav-item {
    background-color:transparent !important;
}
.navbar .nav-item:hover  {
    color: #ff0095 !important;
}
.navbar.nav-sticky .navbar-brand span {
    color: #fa815d;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, .1);
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

/* .navbar .btn1 {
    background: linear-gradient(90deg, #f2709c 2.54%, #ff9472 88.45%);
}  */


/* 
@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 20px 60px;
        background: rgba(0, 0, 0, .1) !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #343148 !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #343148 !important;
    }
    
    .navbar .navbar-brand span {
        color: #ffffff;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
} */




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.fa-brands {
    color: white;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: #343148;
    overflow: hidden;
    position: relative;
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(30, 35, 40, 0.6);
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 20px;
    left: 50px;
    right: 50px;
  }
  #hero .container {
    text-align: center;
  }
  #hero h2 {
    color: #ff9472;
    margin-bottom: 20px;
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: none;
  }
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    margin-bottom: 20px;
    color: #fff;
  }
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
  }
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }
  #hero .carousel-indicators li.active {
    opacity: 1;
    background: #d9232d;
  }
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #000000;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: linear-gradient(90deg, #f2709c 2.54%, #ff9472 88.45%);
    margin-bottom: 100px;
    box-shadow: 2px 2px 4px 1px #f2709c;
  }
  #hero .btn-get-started:hover {
    background: linear-gradient(90deg, #f16090 2.54%, #fa815d 88.45%);
  }

  #hero .social {
    padding: 20px;
  }
  @media (max-width: 992px) {
    #hero {
      height: 100vh;
    }
    #hero .carousel-container {
      top: 8px;
    }
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  @media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }







/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 150px 0 90px 0;
  text-align: center;
  background: #F7CAC9;
}

.page-header h2 {
  position: relative;
  color: #343148;
  font-size: 60px;
  font-weight: 700;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #343148;
}

.page-header a:hover {
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #343148;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 767.98px) {
  .page-header h2 {
      font-size: 35px;
  }
  
  .page-header a {
      font-size: 18px;
  }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 5px;
  padding: 0 10px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
}

.section-header p::after {
  position: absolute;
  content: "";
  height: 2px;
  top: 11px;
  right: -30px;
  left: -30px;
  background: #F7CAC9;
  z-index: -1;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
      font-size: 30px;
  }
}








/*******************************/
/********** About CSS **********/
/*******************************/
.about1 {
  position: relative;
  width: 100%;
  padding-top: 45px;
}

.about1 .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about1 .about-img {
  position: relative;
  height: 100%;
}

.about1 .about-img img {
  position: relative;
  width: 100%;
  height: 60%;
}

.about1 .about-text p {
  font-size: 16px;
}

.about1 .about-text a.btn {
  position: relative;
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f2709c;
  background: #343148;
  border-radius: 0;
  transition: .3s;
}

.about1 .about-text a.btn:hover {
  color: #343148;
  background: #fa815d;
}

@media (max-width: 767.98px) {
  .about1 .about-img {
      margin-bottom: 30px;
      height: auto;
  }
}




/*timeline CSS*/
#timelinec {
  height: 100vh;
  width: 100%;
  background-color: #343148;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.timelinew h4 {
  color:#ffffff;
}
.timelinewu li p {
  color:#ffffff;
}
.timelinewu li a {
  color:#f8881f;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #613eff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

@media (max-width: 767.98px) {
  #timelinec {
      margin-top: 30px;
      margin-bottom: 30px;
      height: auto;
  }
}




/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
  background-color:rgba(0, 0, 0, 0.8);
}
.team .section-header  {
  background-color: none !important;
  color: #613eff;
}
.team-row {
  display: flex;
  justify-content: space-evenly;
}

.team .team-item {
  position: relative;
  margin-bottom: 30px;
  padding: 2px;
  background: #ff8787;
  border: 1px solid rgba(0, 0, 0, .07);
}

.team .team-img {
  position: relative;
  overflow: hidden;
}

.team .team-img img {
  position: relative;
  width: 102%;
}

.team .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.team .team-social a {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  width: 80%;
  height: 80%;
  padding:5px, 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #000000;
  background: rgba(0, 0, 0, .0);
  opacity: 0;
}




.team .team-item:hover .team-social {
  color: #343148;
  margin-left: auto;
  background: rgba(256, 256, 256, .9);
}

.team .team-item:hover .team-social a:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s .3s;
}

/* .team .team-item:hover .team-social a:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .3s;
} */

.team .team-text {
  position: relative;
  padding: 25px 15px 25px 15px;
  text-align: center;
  color: #000000;
  background: #ff8787;
}

.team .team-text h2 {
  font-size: 18px;
  font-weight: 600;
}

.team .team-text p {
  margin: 0;
}






/*******************************/
/********* Pricing CSS *********/
/*******************************/
.discount {
    position: relative;
    width: 100%;
    padding: 90px 0;
    background: linear-gradient(rgba(255, 237, 189, 0.7), rgba(255, 201, 63, 0.7)), url(../img/pedigree1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
}

.discount .container {
    max-width: 750px;
    text-align: center;
}

.discount .section-header {
    margin-bottom: 20px;
}

.discount .section-header p {
    color: #343148;
    background: transparent;
}

.discount .section-header p::after {
    display: none;
}

.discount .section-header h2 span {
    color: #F32B56;
    font-size: 50px;
}

.discount .discount-text p {
    color: #454545;
}

.discount .discount-text .btn {
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.discount .discount-text .btn:hover {
    color: #343148;
    background: #ffffff;
}


/**********************************/
/*********** Bottom Nav Bar CSS **********/
/**********************************/



section {
  height: 100vh;
  width: 100%;
  background-color: rgb(162, 122, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#home {
  background-color: royalblue;
}
#home h1 {
    color: rgb(255, 255, 255);
  }
#about {
  background-color: aquamarine;
}
#about h1 {
    color: rgb(255, 255, 255);
  }
#contact h1 {
    color: rgb(255, 255, 255);
  }  
nav {
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start!important;
  z-index: 1000;
  height:60px;
}

nav .container {
    margin: 0;
	padding: 0;
	text-align: left;
    padding: 10px;
	display: inline-block;
	vertical-align: middle;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

nav .container ul li.active {
  border-top: 5px dotted red;
  transition: 0.5 ease-in-out border-top;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}






